/* src/app/components/header/header.component.css */
.navbar-brand {
    font-weight: 500; /* Slightly bolder font weight */
    font-size: 1.5rem; /* Slightly larger font size */
  }
  
  .nav-link {
    margin-right: 1rem; /* More spacing between links */
    text-transform: uppercase; /* Uppercase navigation links */
    font-size: 0.9rem; /* Slightly smaller font size for links */
  }
  
  .nav-link.active {
    font-weight: bold; /* Indicate active link with bold text */
  }
  
  .badge {
    margin-left: 0.5rem;
    font-size: 0.8rem;
  }
  
  .form-control::placeholder {
    color: #ccc; /* Light gray placeholder text */
  }
  
  .btn-outline-success {
    border-color: #28a745;
    color: #28a745;
  }
  
  .btn-outline-success:hover {
    background-color: #28a745;
    color: white;
  }